<html ng-app="demo">
	<head>
		<link rel="stylesheet" href="assets/css/bootstrap.css" />
		<link rel="stylesheet" href="assets/css/bootstrap-icons/bootstrap-icons.css" />
	</head>
	<body>
		<div class="container-fluid" ng-controller="MainController">
			<div class="row">
				<div class="offset-3 col-6">
					<h4>Alert</h4>
					<bs5-alert type="danger" dismissible="true">This is an alert</bs5-alert>
					<br><br><br><br>
					<h4>Collapse</h4>
					<button type="button" class="btn btn-primary" ng-click="collapse.toggle()">{{collapse.collapsed ? 'Expand'  : 'Collapse'}}</button><br><br>
					<div bs5-collapse="collapse.collapsed">
						Donec elit libero, sodales nec, volutpat a, suscipit non, turpis. Etiam vitae tortor. Praesent ac massa at ligula laoreet iaculis.
						Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Nulla neque dolor, sagittis eget, iaculis quis, molestie non, velit. Ut leo.
						Etiam vitae tortor. Phasellus blandit leo ut odio. Phasellus nec sem in justo pellentesque facilisis.
					</div>
					<br><br><br><br>
					<h4>Accordion</h4>
					<bs5-accordion>
						<bs5-accordion-group heading="Item 1" is-open="false">
							Vivamus in erat ut urna cursus vestibulum. Suspendisse enim turpis, dictum sed, iaculis a, condimentum nec, nisi. Nullam cursus lacinia erat.
							Sed in libero ut nibh placerat accumsan. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Morbi ac felis.
							Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Phasellus blandit leo ut odio.
						</bs5-accordion-group>
						<bs5-accordion-group heading="Item 2" is-open="false">
							Vivamus in erat ut urna cursus vestibulum. Suspendisse enim turpis, dictum sed, iaculis a, condimentum nec, nisi. Nullam cursus lacinia erat.
							Sed in libero ut nibh placerat accumsan. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Morbi ac felis.
							Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Phasellus blandit leo ut odio.
						</bs5-accordion-group>
					</bs5-accordion>
					<br><br><br><br>
					<h4>Tabs</h4>
					<bs5-tabset>
						<bs5-tab heading="Tab 1">
							Vivamus in erat ut urna cursus vestibulum. Suspendisse enim turpis, dictum sed, iaculis a, condimentum nec, nisi. Nullam cursus lacinia erat.
							Sed in libero ut nibh placerat accumsan. Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Morbi ac felis.
							Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Phasellus blandit leo ut odio.
						</bs5-tab>
						<bs5-tab heading="Tab 2">
							Morbi mattis ullamcorper velit. Etiam imperdiet imperdiet orci. Pellentesque posuere.
							Nam ipsum risus, rutrum vitae, vestibulum eu, molestie vel, lacus. Phasellus leo dolor, tempus non, auctor et, hendrerit quis, nisi. Phasellus a est.
							Cras risus ipsum, faucibus ut, ullamcorper id, varius ac, leo. Nulla sit amet est. Praesent adipiscing.
						</bs5-tab>
					</bs5-tabset>
					<br><br><br><br>
					<h4>Progress Bar</h4>
					<bs5-progressbar value="progressbar.progress" display-percent="true"></bs5-progressbar>
					<button type="button" class="btn btn-primary" ng-click="progressbar.setProgress()">Set Progress</button>
					<br><br><br><br>
					<h4>Modal</h4>
					<button type="button" class="btn btn-primary" ng-click="modal.open()">Open Modal</button>
					<br><br><br><br>
					<h4>Pagination</h4>
					<table class="table" style="width: 100%">
						<thead>
							<tr>
								<th ng-repeat="col in pagination.headers">{{col}}</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in pagination.pager.items">
								<td ng-repeat="col in item">{{col}}</td>
							</tr>
						</tbody>
					</table>
					<bs5-pagination current-page="pagination.pager.page" page-size="pagination.pager.pageSize" number-items="pagination.pager.numItems" page-change="pagination.changePage($page, $pageSize)"></bs5-pagination>
					<br><br><br><br>
					<h4>Datepicker</h4>
					<input type="text" bs5-datepicker ng-model="datepicker.model" />
					<br><br><br><br>
					<h4>Autocomplete</h4>
					<input type="text" bs5-autocomplete ng-model="autocomplete.model" min-characters="2" datasource="autocomplete.datasource" />
					<br><br><br><br>
					<h4>Rating</h4>
					<span bs5-rating max="10" ng-model="rating.model"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span>Value {{rating.model}}</span>
				</div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		<script src="assets/js/angular.js"></script>
		<script src="assets/js/angular-animate.js"></script>
		<script src="assets/js/angular-bootstrap-5.js"></script>
		<script src="assets/js/demo.js"></script>
	</body>
</html>